.graph-container {
  position: relative;
  min-height: 768px;
}

.graph {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

/*.tab-content > .tab-pane {*/
  /*display: block;*/
  /*visibility: hidden;*/
/*}*/

/*.tab-content > .active {*/
  /*visibility: visible;*/
/*}*/
